<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" th:href="@{/css/navigation.css}">
</head>
<body>

    <header>
        <nav th:fragment="~{navigation}">
            <ul>
                <li>
                    <a href='/'>Home</a>
                </li>
                <li>
                    <a href='/races'>Races</a>
                </li>
                <li>
                    <a href='/tracks'>Tracks</a>
                </li>
                <li>
                    <a href='/organizers'>Organizers</a>
                </li>
                <li>
                    <a href='/organizers'>Vehicles</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href='/users/profile'>Profile</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:method="post" th:action="@{/users/logout}">
                        <button class="logout" type="submit">Logout</button>
                    </form>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href='/users/register'>Register</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href='/users/login'>Login</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>