HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### JavaScript ###
# dependencies
/racer-fe/node_modules
/racer-fe/.pnp
/racer-fe/.pnp.js

# testing
/racer-fe/coverage

# production
/racer-fe/build

# misc
/racer-fe/.DS_Store
/racer-fe/.env.local
/racer-fe/.env.development.local
/racer-fe/.env.test.local
/racer-fe/.env.production.local

/racer-fe/npm-debug.log*
/racer-fe/yarn-debug.log*
/racer-fe/yarn-error.log*
