<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Vehicle</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/ios-filled/100/tony-kart.png" />
</head>
<body>
    <header th:insert="~{/util/navigation}"></header>

    <section class="search-results" th:each="vehicle : ${vehicles}">
        <article th:replace="~{util/display} :: searchResult(primary = |${vehicle.make} ${vehicle.model}|, secondary = ${vehicle.horsepower}, imageUrl = 'none')"></article>
    </section>
</body>
</html>