<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manufacturer Info</title>
    <link rel="icon" type="image/png" th:href="@{https://img.icons8.com/ios-filled/100/tony-kart.png}" />
    <link rel="stylesheet" th:href="@{/css/defaults.css}">
</head>
<body>
    <header th:insert="~{/fragments/navigation}"></header>
    <main>
        <div class='info-container' th:object="${manufacturer}">
            <div class='info'>
                <img
                        th:src='${manufacturer.imageUrl}'
                        alt='Profile'
                        class='info-img'
                />
                <div class='info-data'>
                    <h2 class='name' th:text="${manufacturer.name}">Manufacturer Name</h2>
                    <p class='additional-info' th:text="${manufacturer.headquarters}"></p>
                    <p class="main-info" th:text="Founded ${manufacturer.foundingYear}"></p>
                </div>
            </div>
        </div>

        <section class="search-results" th:each="vehicle : ${vehicles}">
            <article th:replace="~{fragments/display} :: searchResult(primary = |${vehicle.make} ${vehicle.model}|, secondary = |${vehicle.horsepower}hp, ${vehicle.year}|, imageUrl = 'none', type = 'vehicles')"></article>
        </section>
    </main>
</body>
</html>