<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Vehicle</title>
    <link rel="icon" type="image/png" th:href="@{https://img.icons8.com/ios-filled/100/tony-kart.png}" />
    <link rel="stylesheet" th:href="@{/css/defaults.css}">
    <link rel="stylesheet" th:href="@{/css/display.css}">
</head>
<body>
    <header th:insert="~{/fragments/navigation}"></header>

    <section class="search-container">
        <form th:method="get" th:action="@{/tracks.html/search}" class="search-form">
            <label>
                <input type="text" name="search" placeholder="Search Races" />
            </label>
        </form>
        <div class="add-item-container">
            <a th:href="@{/tracks/add}" class="add-btn">Add Track</a>
        </div>
    </section>

    <section class="search-results" th:each="vehicle : ${vehicles}">
        <article th:replace="~{fragments/display} :: searchResult(primary = |${vehicle.make} ${vehicle.model}|, secondary = ${vehicle.horsepower}, imageUrl = 'none', type = 'vehicles')"></article>
    </section>
</body>
</html>