spring:
  application:
    name: exam-retake-racer
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/racer?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true&serverTimezone=UTC
    username: ${DB_USER:root}
    password: ${DB_PASS:}
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    #    defer-datasource-initialization: true
    #    properties:
    #      hibernate:
    #        format_sql: true
    hibernate:
      ddl-auto: update
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
#  sql:
#    init:
#      mode: never
#  mvc:
#    hiddenmethod:
#      filter:
#        enabled: true

logging:
  level:
#    org.hibernate.SQL: DEBUG
#    org.hibernate.orm.jdbc.bind: TRACE
    org.springframework.security: DEBUG

cloudinary:
  cloud:
    name: ${CLOUDINARY_CLOUD_NAME:}
  api:
    key: ${CLOUDINARY_API_KEY:}
    secret: ${CLOUDINARY_API_SECRET:}