<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/ios-filled/100/tony-kart.png" />
</head>
<body>
    <header th:insert="~{/util/navigation}"></header>
    <div class='input-container'>
        <form
                th:method="post"
                th:action="@{/users/register}"
                th:object="${userRegisterBindingModel}"
                id='register-form'
                class='input-form'
        >
            <div class='input-field'>
                <label for='firstName'>First name</label>
                <input
                        id='firstName'
                        name="firstName"
                        th:field="*{firstName}"
                        placeholder='Enter your first name'
                />
            </div>
            <div class='input-field'>
                <label for='lastName'>Last name</label>
                <input
                        id='lastName'
                        name="lastName"
                        th:field="*{lastName}"
                        placeholder='Enter your last name'
                />
            </div>
            <div class='input-field'>
                <label for='username'>Username</label>
                <input
                        id='username'
                        name="username"
                        th:field="*{username}"
                        placeholder='Enter your username'
                />
            </div>
            <div class='input-field'>
                <label for='email'>Email</label>
                <input
                        id='email'
                        name="email"
                        th:field="*{email}"
                        type='email'
                        placeholder='Enter your email'
                />
            </div>
            <div class='input-field'>
                <label for='password'>Password</label>
                <input
                        id='password'
                        name="password"
                        th:field="*{password}"
                        type="password"
                        placeholder='Enter your password'
                />
            </div>
            <div class='input-field'>
                <label for='confirmPassword'>Confirm Password</label>
                <input
                        id='confirmPassword'
                        name='confirmPassword'
                        th:field='*{confirmPassword}'
                        type="password"
                        placeholder='Confirm your password'
                />
            </div>
            <button type='submit'>Register</button>
        </form>
    </div>
</body>
</html>