<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" type="image/png" th:href="@{https://img.icons8.com/ios-filled/100/tony-kart.png}" />
    <link rel="stylesheet" th:href="@{/css/defaults.css}">
    <link rel="stylesheet" th:href="@{/css/input.css}">
</head>
<body>
    <header th:insert="~{/fragments/navigation}"></header>

    <div class='input-container'>
        <form
                th:method="post"
                th:action="@{/users/login}"
                th:object="${userLoginBindingModel}"
                id='login-form'
                class='input-form'
        >
            <div class='input-field'>
                <label for='username'>Username</label>
                <input
                        id='username'
                        name="username"
                        th:field="*{username}"
                        placeholder='Enter your username'
                />
                <p class="error-text" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</p>
            </div>
            <div class='input-field'>
                <label for='password'>Password</label>
                <input
                        id='password'
                        name="password"
                        th:field="*{password}"
                        type="password"
                        placeholder='Enter your password'
                />
                <p class="error-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</p>
            </div>
            <label for="remember-me">Remember me?</label>
            <input id="remember-me" name="remember-me" th:field="*{rememberMe}" type="checkbox">
            <button type='submit'>Login</button>
        </form>
    </div>
</body>
</html>