<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="icon" type="image/png" th:href="@{https://img.icons8.com/ios-filled/100/tony-kart.png}" />
    <link rel="stylesheet" th:href="@{/css/defaults.css}">
    <link rel="stylesheet" th:href="@{/css/info.css}">
    <link rel="stylesheet" th:href="@{/css/display.css}">
    <link rel="stylesheet" th:href="@{/css/input.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css}" />
</head>
<body>
    <header th:insert="~{/fragments/navigation}"></header>

    <main>
        <div class='info-container' th:object="${user}">
            <div class='info'>
                <img
                        th:src='${user.imageUrl}'
                        alt='Profile'
                        class='info-img'
                />
                <div class='info-data'>
                    <h2 class='name' th:text="|${user.firstName} ${user.lastName}|">Full Name</h2>
                    <form class="form-none invisible" id="username-input" th:object="${changeUser}" th:method="patch" th:action="@{/users/username}">
                        <label>
                            <input class="input-field" type="text" th:field="*{newUsername}" th:value="${user.username}">
                        </label>
                        <p class="error-text" th:if="${#fields.hasErrors('newUsername')}" th:errors="*{newUsername}">Error</p>
                        <button class="empty" type="submit"><i class="fa-solid fa-check fa-xl" style="color: white"></i></button>
                    </form>
                    <p class='additional-info' id="username-container">
                        @<span id="username" th:text="${user.username}">username</span>
                        <button class="empty" id="edit-username"><i class="fa-solid fa-pen fa-xl" style="color: white"></i></button>
                    </p>
                    <p class='description' th:text="${user.bio}">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel at
                        tenetur, dolorem minus commodi repellendus nulla blanditiis
                        libero porro ipsam.
                    </p>
                </div>
            </div>
        </div>
    </main>

    <section class="search-results" th:each="race : ${races}">
        <article th:replace="~{fragments/display :: searchResult(primary = ${race.name}, secondary = ${race.track}, imageUrl = ${race.imageUrl}, link = |/races/${#strings.toLowerCase(#strings.replace(race.name, ' ', '-'))}|)}"></article>
    </section>

    <script src="/js/profile.js"></script>
</body>
</html>