:root {
    --color-primary: #0099ff;

    --font-size-primary: 1.25em;
}

body {
    background: black;
    color: white;
    font-size: var(--font-size-primary);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

header a {
    color: white;
}

body, h2, h6, p, ul {
    margin: 0;
    padding: 0;
}