.home-container {
    margin: 1em;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-areas:
        'last-race upcoming-races'
        'last-race-leaderboard upcoming-races';
}

.last-race {
    grid-area: last-race;
}

.last-race-leaderboard {
    grid-area: last-race-leaderboard;
}

.upcoming-races {
    display: flex;
    flex-direction: column;
    margin: 0.5em 2em;
    gap: 0.25em;
    grid-area: upcoming-races;
    font-size: var(--font-size-primary);
}

.last-race-img {
    max-width: 100%;
}

.upcoming-races article {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 0.5em 0.75em;
}

.upcoming-races h3 {
    margin: 0.25em;
    font-size: 1.5em;
}

.upcoming-races h6 {
    font-size: var(--font-size-primary);
}

.upcoming-races p {
    font-size: 0.9em;
    color: #a1a1a1;
}