main {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    margin: 0;
}

.user-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-info {
    margin-left: 8em;
    width: 80%;
    /* max-width: 1200px; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.profile-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.user-data {
    margin: 1em 2em;
}

.full-name {
    font-size: 2em;
}

.username {
    font-style: italic;
}

.races-container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.races-data {
    width: 12em;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0.5em 0.75em;
    text-align: center;
}

.race-data {
    font-size: 2.25em;
    font-weight: bold;
}

.bio {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}