<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Racer</title>
    <link rel="icon" type="image/png" th:href="@{https://img.icons8.com/ios-filled/100/tony-kart.png}" />
    <link rel="stylesheet" th:href="@{/css/defaults.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <header th:insert="~{/fragments/navigation}"></header>

    <main>
        <div class='home-container'>
            <section class='last-race'>
                <img
                        src='https://c.stocksy.com/a/ej9A00/z9/2420706.jpg'
                        alt='Race Track'
                        id='home-image'
                        class='last-race-img'
                />
            </section>
            <section class='upcoming-races' id="upcoming-races">
                <h3>Upcoming Races</h3>
            </section>
        </div>
    </main>

    <script th:src="@{/js/index.js}"></script>
</body>
</html>