<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Racer</title>
    <link rel="icon" type="image/png" th:href="@{https://img.icons8.com/ios-filled/100/tony-kart.png}" />
    <link rel="stylesheet" th:href="@{/css/defaults.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <header th:insert="~{/fragments/navigation}"></header>

    <main>
        <div class='home-container'>
            <section class='last-race'>
                <img
                        src='https://c.stocksy.com/a/ej9A00/z9/2420706.jpg'
                        alt='Race Track'
                        class='last-race-img'
                />
            </section>
            <section class='last-race-leaderboard'>
                <article>This is a test</article>
                <article>This is a test</article>
                <article>This is a test</article>
                <article>This is a test</article>
                <article>This is a test</article>
            </section>
            <section class='upcoming-races'>
                <h3>Upcoming Races</h3>
                <article th:each="race : ${races}">
                    <h6>
                        <th:block th:text="${race.name}">Race name</th:block>
                        <span th:text="(${race.track})">(Race Track)</span>
                    </h6>
                    <p th:text="${race.organizer}">Organizer</p>
                </article>
            </section>
        </div>
    </main>
</body>
</html>