<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" th:href="@{/css/navigation.css}">
</head>
<body>

<header>
    <nav th:fragment="~{navigation}">
        <ul>
            <li>
                <a href='/static'>Home</a>
            </li>
            <li>
                <a href='/races'>All Races</a>
            </li>
            <li>
                <a href='/races/search'>Search Race</a>
            </li>
            <li>
                <a href='/races/leaderboard'>Leaderboard</a>
            </li>
            <li>
                <a href='/users/profile'>Profile</a>
            </li>
            <li>
                <a href='/users/register'>Register</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>