<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add track</title>
    <link rel="icon" type="image/png" th:href="@{https://img.icons8.com/ios-filled/100/tony-kart.png}" />
    <link rel="stylesheet" th:href="@{/css/defaults.css}">
    <link rel="stylesheet" th:href="@{/css/input.css}">
    <link rel="stylesheet" th:href="@{/css/add-item.css}">
</head>
<body>

    <header th:insert="~{/fragments/navigation}"></header>

    <div class="input-container">
        <form
                th:method="post"
                th:action="@{/tracks/add}"
                th:object="${trackAddBindingModel}"
                id="add-track-form"
                class="input-form"
                enctype="multipart/form-data">

            <div class='input-field'>
                <label for="name">Track Name</label>
                <input id="name" th:field="*{name}" type="text" name="name" placeholder="Name">
            </div>

            <div class='input-field'>
                <label for="location">Track Location</label>
                <input id="location" th:field="*{location}" type="text" name="location" placeholder="Track Location">
            </div>

            <div class='input-field'>
                <label for="length">Track Length(in meters)</label>
                <input id="length" th:field="*{length}" type="number" name="length" placeholder="Track Length">
            </div>

            <div class='input-field'>
                <label for="surface">Surface Type</label>
                <input id="surface" th:field="*{surface}" type="text" name="surface" placeholder="Surface Type">
            </div>

            <div class='input-field'>
                <label for='image'>Track Layout</label>
                <input
                        id='image'
                        name='image'
                        th:field='*{image}'
                        type="file"
                />
            </div>
            <button type='submit'>Add Track</button>
        </form>
    </div>
</body>
</html>