<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Race info</title>
    <link rel="icon" type="image/png" th:href="@{https://img.icons8.com/ios-filled/100/tony-kart.png}" />
    <link rel="stylesheet" th:href="@{/css/defaults.css}">
    <link rel="stylesheet" th:href="@{/css/info.css}">
    <link rel="stylesheet" th:href="@{/css/display.css}">
</head>
<body>
    <header th:insert="~{/fragments/navigation}"></header>
    <main>
        <div class='info-container' th:object="${race}">
            <div class='info'>
                <img
                    th:src='${race.imageUrl}'
                    alt='Profile'
                    class='info-img'
                />
                <div class='info-data'>
                    <h2 class='name' th:text="${race.name}">Full Name</h2>
                    <p class='additional-info' th:text="${race.organizer}"></p>
                    <p class="main-info" th:text="|${race.track} (${race.type})|"></p>
                    <p class="main-info" th:text="${#dates.format(race.date, 'dd.MM.yyyy')}"></p>
                    <p class='description' th:text="${race.description}"></p>
                    <a th:href="@{|/races/participate/${race.name}|}">Participate</a>
                </div>
            </div>
        </div>

        <section class="search-results" th:each="participant : ${race.participants}">
            <article th:replace="~{fragments/display :: searchResult(primary = |${participant.firstName} ${participant.lastName}|, secondary = ${participant.username}, imageUrl = ${participant.imageUrl}, link = 'none')}"></article>
        </section>
    </main>
</body>
</html>