<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search race</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/ios-filled/100/tony-kart.png" />
    <link rel="stylesheet" href="/css/defaults.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>
<body>
    <header th:insert="~{/util/navigation}"></header>

    <section class="search-container">
        <form th:method="get" th:action="@{/races/search}" class="search-form">
            <label>
                <input type="text" name="search" placeholder="Search Races" />
            </label>
        </form>
        <div class="add-item-container">
            <a th:href="@{/races/add}" class="add-btn">Add Race</a>
            <a th:href="@{/organizers/add}" class="add-btn">Add Organizer</a>
        </div>
    </section>

    <section class="search-results" th:each="race : ${races}">
        <article th:replace="~{util/display :: searchResult(primary = ${race.name}, secondary = ${race.track}, imageUrl = ${race.imageUrl})}"></article>
    </section>
</body>
</html>