<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organizer Info</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/ios-filled/100/tony-kart.png" />
    <link rel="stylesheet" th:href="@{/css/info.css}">
</head>
<body>
    <header th:insert="~{/util/navigation}"></header>

    <section class='info-container' th:object="${organizer}">
        <div class='info'>
            <img
                    th:src='${organizer.imageUrl}'
                    alt='Organizer Logo'
                    class='info-img'
            />
            <div class='info-data'>
                <h2 class='name' th:text="${organizer.getName()}">Organizer Name</h2>
                <p class='additional-info'><i></i><th:block th:text="${organizer.getHeadquarters()}">Headquarters Location</th:block></p>
                <p class='additional-info' th:text="${organizer.getFoundingYear()}">Founding Year</p>
            </div>
        </div>
    </section>

    <section class="races-container">
        <article class="race-data" th:each="race : ${races}">
            <img th:src="${race.imageUrl}" alt="Race Image">
            <h4 th:text="${race.name}">Race name</h4>
            <p class="italic" th:text="${race.track}">Race Track</p>
        </article>
    </section>
</body>
</html>