<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organizer Info</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/ios-filled/100/tony-kart.png" />
</head>
<body>
    <header th:insert="~{/util/navigation}"></header>

    <div class="info-container">
        <div class="info">
            <img th:src="${organizer.imageUrl}" alt="Organizer Logo">
            <h2 th:text="${organizer.name}"></h2>
            <p th:text="${organizer.headquarters}"></p>
            <p th:text="${organizer.foundingYear}"></p>
            <p th:text="${organizer.identificationNumber}"></p>
        </div>
</body>
</html>