/* Global styles */

:root {
    --color-primary: #0099ff;

    --font-size-primary: 1.25em;
}

body {
    background: black;
    color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2, h6, p, ul {
    margin: 0;
    padding: 0;
}